.dashboard {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.addForm {
  margin-top: 20px;
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  background: #fff;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.13);
  border-radius: 8px;
}

form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  width: 100%;
}
.logOut {
  background: transparent;
  color: #464646;
  border: 2px dashed #f4a548;
}
.logOut:hover {
  background: none;
  color: #464646;
  border: 2px solid #f4a548;
}
.itensList {
  padding: 20px;
  height: 100%;
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
}

.cardItem {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  background: #fff;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.13);
}

img {
  width: 350px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
p {
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: lighter;
}
span {
  align-self: flex-end;
  margin: 10px;
  color: #32cd32;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

section button {
  background: transparent;
  width: auto;
}
section button:hover {
  background: transparent;
  color: transparent;
}

@media (max-width: 1120px) {
  ul {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 850px) {
  .dashboard {
    flex-direction: column;
  }
}
